extends ../shared/layout

block title
    title(class="text-center")
        |Problema de monjes y canibales
block content
    h1(class="text-center")
        |Problema de monjes y canibales
    for e in grafo
        table(class="table table-striped table-hover")
            tr
                th Node inicial (#{e.c} , #{e.m}, #{e.b})
            tr
            for hijo in e.hijos
                td (#{hijo.c} , #{hijo.m}, #{hijo.b})
